@import 'colors.css';
@import 'typography.css';
@import 'queries.css'

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    font-size: 62.5%;
    box-sizing: border-box;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
}


/*  ######### UTILITY CLASSES######## */

.content-wrap {
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
    max-width: 800px;
}


  /* ################## */

.hero {
    background-color: var(--primary-color) ;
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__text--first {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.text-link {
    color : var(--accent-color);
}

.heading-primary--hero, 
.heading-secondary--hero {
    text-align: center;
}



/* ############################### */
/* featured projects section */
/* ############################### */


.project-section {
    padding-top: 2rem;
    background-color: var(--color-light) ;
}

.text-link-dark,
.text-link-dark:link {
    color : var(--primary-color);
    text-decoration: underline;
}


/* Project Item */
.project-item {
margin-top: 2rem;
}

.project-item img{
    max-width: 30rem;
    margin-bottom: .5rem;
}

.btn {
    background-color: var(--primary-color);
    display: inline-block;
    color: var(--color-light);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
}


/* #################Learn More##########################*/

.divider > section {
    border-bottom: 1px dashed var(--color-dark);
    padding: 25px 0;
  }

  .divider > section:last-of-type {
    border-bottom: none;
  }

/* ###########################################*/
/* ###########################################*/
/* ###########################################*/



/* ###############################################*/
/* #################Work Experience##################*/
/* ###############################################*/


.work-experience {
    background-color: var(--color-tertiary);
}





/* ###############################################*/
/* #################Education##################*/
/* ###############################################*/

.education {
    background-image: url(".././images/joanna.jpg");
    background-size: cover;
    background-position: top;
 
}


.color-light {
    color: var(--color-light);
}

.centered {
    text-align: center;
}

.contact-list {
    display: flex;
    gap: 1rem;
    justify-content: center;
}


.contact-list li  {
    list-style: none;
}

.contact-list li a:link {
    text-decoration: underline;
}



/* ###############################################*/
/* #################Footer##################*/
/* ###############################################*/


footer {
    background-color: var(--color-dark);

}



  /* ####################################### */
  /* ############Media Queries########### */
  /* ####################################### */
  

  @media  (min-width: 800px) {

    .project-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 5rem;
    }

}