@import 'colors.css';
@import 'typography.css';


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
    box-sizing: border-box;
}



/*  ######### UTILITY CLASSES######## */

.content-wrap {
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
    max-width: 800px;
  }


  /* ################## */

.hero {
    background-color: var(--primary-color) ;
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__text--first {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.text-link {
    color : var(--accent-color);
}

.heading-primary--hero, 
.heading-secondary--hero {
   text-align: center;
}



/* featured projects section */

.projects {
    padding-top: 2rem;
    background-color: var(--color-light) ;
}

.text-link-dark,
.text-link-dark:link {
    color : var(--primary-color);
    text-decoration: underline;
}

/* Project Item */
.project-item {
margin-top: 5rem;
}


.project-item img{
    max-width: 30rem;
    margin-bottom: .5rem;
}

.btn {
    background-color: var(--primary-color);
    display: inline-block;
    color: var(--color-light);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
}


